{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Date{% endblock %}

{% block headerTitle %}{{ parent() }}Date{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ form_start(addDateForm) }}
                    <div class="d-flex flex-column justify-content-center mb-5">
                        {{ form_row(addDateForm.title, {attr: {'class': 'titre'}, label: 'Titre'}) }}
                        {{ addDateForm.dateStart|date("F jS \\a\\t g:ia") }}
                        {{ addDateForm.dateEnd|date("F jS \\a\\t g:ia") }}
                        {{ form_row(addDateForm.blog, {attr: {'class': 'blog'}, label: 'Blog'}) }}

                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                    {{ form_end(addDateForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}