{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Calendrier{% endblock %}

{% block headerTitle %}{{ parent() }}Calendrier{% endblock %}

{% block body %}
    <div id="calendar"></div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="CrudDate" aria-labelledby="CrudDateLabel">
        <div class="offcanvas-header">
            <h5 id="CrudDateLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                selectable: true,
                events: [
                    {% for event in globalDate %}
                        {% if event.date != null %}
                            {
                                title: {{ event.date.title }},
                                color: "darkred",
                                start: "{{ event.date.dateStart|date("Y-m-d") }}",
                                {% if event.date.dateEnd|date("Y-m-d") != null %}
                                    end: "{{ event.date.dateEnd|date("Y-m-d") }}",
                                {% else %}
                                    allDay : false,
                                {% endif %}
                                id: {{ event.id }},
                            },
                        {% endif %}
                    {% endfor %}
                    {% for event in personalDate  %}
                        {
                            title: {{ event.title }},
                            start: "{{ event.dateStart|date("Y-m-d") }}",
                            {% if event.dateEnd|date("Y-m-d") != null %}
                                end: "{{ event.dateEnd|date("Y-m-d") }}",
                            {% else %}
                                allDay : false,
                            {% endif %}
                            id: {{ event.id }},
                        },
                    {% endfor %}
                    {
                        title  : 'event1',
                        color: "darkred",
                        start  : '2022-11-01',
                        id: 13,
                    },
                    {
                        title  : 'event2',
                        start  : '2022-11-05',
                        end    : '2022-11-07',

                    },
                    {
                        title  : 'event3',
                        start  : '2022-11-09T12:30:00',
                        allDay : false
                    }
                ],
                eventClick: function(calEvent, jsEvent, view) {

                    console.log(calEvent.event.title);
                    console.log(calEvent.event);
                    console.log(calEvent.jsEvent);
                    console.log(calEvent.view.title);

                },
                select: function(info) {
                    let dates = []
                    calendar.getEvents().forEach(element => {
                        if ((element.start >= info.start && element.start <= info.end) || (element.end >= info.start && element.end <= info.end)) {
                            dates.push(element)
                        }
                    });
                    console.log(dates)
                }
            });
            calendar.render();
        });
    </script>
{% endblock %}