{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Calendrier{% endblock %}

{% block headerTitle %}{{ parent() }}Calendrier{% endblock %}

{% block body %}
    <div id="calendar"></div>

    <div data-bs-dismiss="offcanvas" class="offcanvas offcanvas-end" tabindex="-1" id="CrudDate" aria-labelledby="CrudDateLabel">
        <div class="offcanvas-header">
            <h5 id="CrudDateLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                selectable: true,
                events: [
                    // affiche en double si la personne a fait l'article de blog 
                    {% for event in globalDate %}
                        {% if event.date != null %}
                            {
                                title: {{ event.date.title }},
                                color: "darkred",
                                start: "{{ event.date.dateStart|date("Y-m-d") }}",
                                {% if event.date.dateEnd|date("Y-m-d") != null %}
                                    end: "{{ event.date.dateEnd|date("Y-m-d") }}",
                                {% else %}
                                    allDay : false,
                                {% endif %}
                                id: {{ event.id }},
                            },
                        {% endif %}
                    {% endfor %}
                    {% for event in personalDate  %}
                        {
                            title: {{ event.title }},
                            start: "{{ event.dateStart|date("Y-m-d") }}",
                            {% if event.dateEnd|date("Y-m-d") != null %}
                                end: "{{ event.dateEnd|date("Y-m-d") }}",
                            {% else %}
                                allDay : false,
                            {% endif %}
                            id: {{ event.id }},
                        },
                    {% endfor %}
                    {
                        title  : 'event1',
                        color: "darkred",
                        start  : '2022-12-01',
                        id: 13,
                    },
                    {
                        title  : 'event2',
                        start  : '2022-12-05',
                        end    : '2022-12-08',

                    },
                    {
                        title  : 'event3',
                        start  : '2022-12-09T12:30:00',
                        allDay : false
                    },
                    {
                        title  : 'event3bis',
                        start  : '2022-12-19T12:30:00',
                        allDay : true
                    },
                    {
                        title : 'event4',
                        start: '2022-12-15',
                        end: '2022-12-28'
                    }
                ],
                select: function(info) {
                    let infoStart = info.start.getTime()
                    let infoEnd = info.end.getTime()
                    let dates = []
                    calendar.getEvents().forEach(element => {
                        let elementStart = element.start.getTime()
                        if (element.end == null) {
                            if (elementStart >= infoStart && elementStart < infoEnd) {
                                dates.push(element)
                            }
                        } else {
                            let elementEnd = element.end.getTime()
                            if ((elementStart >= infoStart && elementStart < infoEnd) || (elementEnd > infoStart && elementEnd <= infoEnd)) {
                                dates.push(element)
                            } else if (elementStart < infoStart && elementEnd > infoEnd) {
                                dates.push(element)
                            }
                        }
                    });
                    manageDates(dates)
                },
                eventClick: function (selected) {
                    // calendar.select() => selected dates
                    //console.log('selected')
                    //console.log(selected)
                }
            });
            calendar.render();

            function manageDates(dates) {
                console.log(dates)
                console.log('')
                console.log('')
                console.log('')
            }
        });
    </script>
{% endblock %}