{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Connexion{% endblock %}

{% block headerTitle %}{{ parent() }}Connexion{% endblock %}

{% block body %}
    <section class="mb-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <form method="post">
                        <h1 class="mb-4 text-center"><i class="fa-regular fa-user"></i> Connexion</h1>

                        <div class="d-flex flex-column">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <div class="form-floating mb-3">
                                <input placeholder="Adresse e-mail" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                <label for="inputEmail">Adresse e-mail</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input placeholder="Mot de passe" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                <label for="inputPassword">Mot de passe</label>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <p class="text-center mb-3"><a href="{{ path("app_forgot_password_request") }}">Mot de passe oublié ? <i class="fa-solid fa-arrow-right"></i></a></p>
                            <p class="text-center mb-3"><a href="{{ path("app_register") }}">Pas de compte ? S'inscrire ici <i class="fa-solid fa-arrow-right"></i></a></p>

                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary" type="submit">
                                    Se connecter
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <a class="btn btn-dark" href="{{ path('app_calendar') }}"><i class="fa-solid fa-arrow-left"></i> Retour sur le calendrier</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
