{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Inscription{% endblock %}

{% block headerTitle %}{{ parent() }}Inscription{% endblock %}

{% block body %}
    <h1 class="text-center">Inscription</h1>
    {{ form_start(registrationForm) }}
        <div class="d-flex flex-column justify-content-center mb-5">
            {{ form_row(registrationForm.email, {
                attr: {
                    'class': 'form-control'
                },
                label: 'E-mail'
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                attr: {
                    'class': 'form-control'
                }
            }) }}
            {{ form_row(registrationForm.firstname, {
                label: 'Prénom',
                attr: {
                    'class': 'form-control'
                }
            }) }}
            {{ form_row(registrationForm.lastname, {
                label: 'Nom de famille',
                attr: {
                    'class': 'form-control'
                }
            }) }}
            {{ form_row(registrationForm.telephone, {
                label: 'Téléphone',
                attr: {
                    'class': 'form-control'
                }
            }) }}
            {{ form_row(registrationForm.birthdate, {
                label: 'Date de naissance',
                attr: {
                    'class': 'form-control'
                }
            }) }}
            {{ form_row(registrationForm.address, {
                label: 'Adresse',
                attr: {
                    'class': 'form-control'
                }
            }) }}


            {{ form_row(registrationForm.agreeTerms, {
                label: 'Accepter les conditions d\'utilisation',
            }) }}

            <p class="text-center"><a href="{{ path("app_login") }}">Vous avez déjà un compte ? Se connecter ici &#8594;</a></p>

            <button type="submit" class="btn btn-primary">Inscription</button>
        </div>

    {{ form_end(registrationForm) }}
{% endblock %}