{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Inscription{% endblock %}

{% block headerTitle %}{{ parent() }}Inscription{% endblock %}

{% block body %}
    <section class="mb-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1 class="text-center mb-4"><i class="fa-solid fa-user-plus"></i> Inscription</h1>

                    {{ form_start(registrationForm) }}
                        <div class="d-flex flex-column">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-floating mb-3">
                                        {{ form_widget(registrationForm.firstname) }}
                                        {{ form_label(registrationForm.firstname) }}
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-floating mb-3">
                                        {{ form_widget(registrationForm.lastname) }}
                                        {{ form_label(registrationForm.lastname) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(registrationForm.email) }}
                                {{ form_label(registrationForm.email) }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(registrationForm.plainPassword) }}
                                {{ form_label(registrationForm.plainPassword) }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(registrationForm.telephone) }}
                                {{ form_label(registrationForm.telephone) }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(registrationForm.birthdate) }}
                                {{ form_label(registrationForm.birthdate) }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(registrationForm.address) }}
                                {{ form_label(registrationForm.address) }}
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    {{ form_widget(registrationForm.agreeTerms) }}
                                </div>
                                {{ form_label(registrationForm.agreeTerms) }}
                            </div>

                            <div class="d-flex justify-content-center">
                                {{ form_row(registrationForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                        </div>
                    {{ form_end(registrationForm) }}
                </div>
                <div class="col-12">
                    <a class="btn btn-dark" href="{{ path('app_login') }}"><i class="fa-solid fa-arrow-left"></i> Retour sur la page de connexion</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}