{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Réinitialisation du mot de passe{% endblock %}

{% block headerTitle %}{{ parent() }}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <section class="mb-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    {% for flash_error in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}
                    <h1 class="mb-3">Réinitialisez votre mot de passe</h1>

                    {{ form_start(requestForm) }}
                        <div class="d-flex flex-column justify-content-center">
                            <div class="form-floating">
                                {{ form_widget(requestForm.email) }}
                                {{ form_label(requestForm.email) }}
                            </div>
                            <div class="form-text mb-3">Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</div>

                            {{ form_row(requestForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    {{ form_end(requestForm) }}
                </div>
                <div class="col-12">
                    <a class="btn btn-dark" href="{{ path('app_login') }}"><i class="fa-solid fa-arrow-left"></i> Retour sur la page de connexion</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

